.mask-animation {
  animation: color-change-3x 2s linear infinite alternate both;
  // 动画
  @keyframes color-change-3x {
    0% {
      color: #19dcea;
    }

    50% {
      color: #b22cff;
    }

    100% {
      color: #ea2222;
    }
  }
}