@import url("./animation.css");

/* global-presuppose */
body {
  width: 100vw;
  height: 100vh;
}

#__nuxt {
  width: 100%;
  height: 100%;
}

/* dark-presuppose */
html.dark {
  background: #222;
  color: white;
}

/* global-page-transition */
.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

/* default-v-transition */
.v-enter-active {
  transition: opacity 2s ease;
}

.v-leave-active {
  transition: opacity 0.2s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}


/* 进度条样式重写 */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type='range']::-webkit-slider-runnable-track {
  height: 2px;
  border-radius: 10px;
  /*轨道内置阴影效果*/
  background-color: #6222e9;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 14px;
  width: 14px;
  margin-top: -6px;
  /*使滑块超出轨道部分的偏移量相等*/
  background: #6222e9;
  border-radius: 50%;
  /*设置边框*/
  box-shadow: 0 0 5px 2px #6222e9;
}
